body{
  background-color: rgb(16, 161, 96);
  background-image: url(gallerie/autre.jpg);
  background-size: cover;
  background-position: center;
}

*{
  box-sizing: padding-box;
}
hr{
  border-radius: 700px 700px 700px;
  border: 2px solid;
  margin: auto;
  color: rgba(0, 0, 0, 0.46);
}
.nom h2{
  display: flex;
  justify-content: center;
  color: rgb(6, 88, 61);
}
h1{
  display: flex;
  justify-content: center;
  color:  black;
  font-family: 'Merriweather', serif;
}
/*h2{
display: flex;
justify-content: center;
color:  rgb(14, 107, 184);
}*/
h3{
  display: flex;
  justify-content: center;
  color:  black;
  padding-bottom: 10px;
  font-family: 'Merriweather', serif;

}
#container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.bar{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.bar2{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.barr{
  width: 50%;
  height: 370px;
}
.barr2{
  width: 50%;
  height: 370px;
  display: flex;
  justify-content: flex-end;
}
.cas2{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;

}
.cass2{
  width: 50%;
  height: 370px;
  /*display: flex;
  justify-content: flex-end;*/

}
.cas1{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;

}
.cass1{
  width: 50%;
  height: 370px;
  /*display: flex;
  justify-content: flex-end;*/

}

/*.cass2{
width: 50%;
height: 370px;
display: flex;
justify-content: flex-start;
}*/
.barre1{
  /*background-color: red;*/
  width: 40%;
  height: 370px;
  /*display: flex;*/
  /*align-self: flex-end;*/
}
.barre2{
  /*background-color: purple;*/
  width: 40%;
  height: 370px;
  /*display: flex;*/
  /*align-self: flex-end;*/
}
.case1{
  /*background-color: blue;*/
  width: 40%;
  height: 370px;
  /*display: flex;
  align-items: flex-start;*/


}
.case2{
  /*background-color: green;*/
  width: 40%;
  height: 370px;


}
.barre1 h1,h2{
  color: black;
  font-family: 'Merriweather', serif;

}
.barre1 li{
  color: black;
  font-family: 'Merriweather', serif;
}
.barre2 h1{
  color: black;
  font-family: 'Merriweather', serif;
}
.barre2 li{
  font-family: 'Merriweather', serif;

}
.case1 li{
  font-family: 'Merriweather', serif;

}
.case2 h1 {
  color: black;
  font-family: 'Merriweather', serif;
}
.case2 li{
  font-family: 'Merriweather', serif;

}
.case1 h1,h2{
  color: black;
  display: flex;
  flex-direction: column;
  font-family: 'Merriweather', serif;

}
.case1 ul{
  color: black;
  display: flex;
  flex-direction: column;
  font-family: 'Merriweather', serif;

}
.case1 p{
  text-align: left;
}
li{
  padding: 4px;
  margin-top: : 30px;
}
details{
  padding: 10px;
  text-decoration: none;
  font-family: 'Patua One', cursive;
  outline: 2px solid green;
  color:black;
  background: -webkit-linear-gradient(-45deg,  rgba(3, 40, 19, 1) 0%,rgba(41, 46, 5, 1) 50%, rgba(3, 40, 19, 1) 100%); /* Chrome10-25,Safari5.1-6 */

}
.fin{
  display: flex;
  justify-content: center;
}
.fin li{
  display: flex;
  justify-content: center;
  display: inline;
  margin: 10px;
}
.barr{
  border-left: 6px solid black;
  border-radius:100px 300px 50px;
}
.barr2{
  border-left: 6px solid black;
  border-radius:100px 300px 50px;
}
.bar2{
  border-left: 6px solid black;
  border-radius:100px 300px 50px;
}
.bar{
  border-left: 6px solid black;
  border-radius:100px 300px 50px;
}
.cas2{
  border-right: 6px solid black;
  border-radius:100px 300px 50px;
}
.cass2{
  border-right: 6px solid black;
  border-radius:100px 300px 50px;
}
.cas1{
  border-right: 6px solid black;
  border-radius:100px 300px 50px;
}
.cass1{
  border-right: 6px solid black;
  border-radius:100px 300px 50px;
}
